section.filters {
	color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	justify-content: center;
	align-items: center;
	display: flex;
	position: relative;
}

button {
	position: absolute;
	top: 50%;
	font-size: 18px;
	border-radius: 4px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	right: 30px;
	opacity: 1;
	border: none;
	margin-top: -24px;
}

button:hover {
	opacity: 0.9;	
}
